*{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background: gray;
}
.navbar{
    background: black;
    font-family:Arial, Helvetica, sans-serif; 
    padding-right: 15px; 
    padding-left: 350px;
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo{
    position: absolute;
    height: auto;
    left: 50px;
    width: 50px;
    margin-top: -25px;
    border-radius: 50%;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.footer{
    background-color: black;
    justify-content: space-between;
}
.fa-x-twitter{
    font-size: 40px;
}
.fa-facebook{
    font-size: 40px;
}
.fa-instagram{
    font-size: 40px;
}
i{
    padding: 15px;
}
.footer iframe{
    float: right;
    margin-top: -120px;
}